{% extends "pages/base.html" %}
{% block contact %}
<!-- Contact Section Start -->
	<section class="contact" id="contact">
		<div class="max-width">
			<h2 class="title">Contact me</h2>
			<div class="contact-content">
				<div class="column left">
					<div class="text">Get in Touch</div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dignissimos perspiciatis ipsam totam magnam doloribus consectetur voluptatum quo, quam facilis.</p>
					<div class="icons">
						<div class="row">
							<i class="fas fa-user"></i>
							<div class="info">
								<div class="head">Name</div>
								<div class="sub-title">Rodrigo Farinango</div>
							</div>
						</div>
						<div class="row">
							<i class="fas fa-map-marker-alt"></i>
							<div class="info">
								<div class="head">Address</div>
								<div class="sub-title">Machala, Ecuador</div>
							</div>
						</div>
						<div class="row">
							<i class="fab fa-twitter"></i>
							<div class="info">
								<div class="head">Twitter</div>
								<div class="sub-title">@rofarinango</div>
							</div>
						</div>
					</div>
				</div>
				<div class="column right">
					<div class="message-sent">Message sent successfully</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contact %}