{% extends "pages/base.html" %}
{% load static %}
{% block home %}
<!-- Home Section -->
<section class="home" id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Hello, my name is</div>
            <div class="text-2">Rodrigo Farinango</div>
            <div class="text-3">And I'm <span class="typing">Software Developer</span></div>
            <a href="/contact">Contact Me</a>
        </div>
    </div>
</section>
<!-- About Section Start -->
<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">About me</h2>
        <div class="about-content">
            <div class="column left">
                <img src="{% static 'pages/images/profile-1.jpeg' %}" alt="">
            </div>
            <div class="column right">
                <div class="text">I'm Rodrigo and I'm <span class="typing-2">Software Developer</span></div>
                <p>I'm a telecommunications engineer turned software developer through self-learning and development. I'm currently improving my C++ developer skills while building games in Unreal Engine. My main priority right now is to master technologies that are required in the industry. Skills: C++, Python, JavaScript, Django, Node.js</p>
                <a style="font-size: 20px;" href="https://www.linkedin.com/in/rofarinango">Linked<i style="font-size: 25px; margin-left: 2px;" class="fa fa-linkedin-square fa-lg"></i></a>
            </div>
        </div>
    </div>
</section>
{% endblock home %}